<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %></title>
  </head>
  <body>
    <h1><%= title %></h1>
    <%- include("./partials/nav.ejs") %>
    <form action="<%= category ? '/categories/' + category.id + '/update' : '/categories/new' %>" method="POST">
      <div>
        <label for="name">Name</label>
        <input
          value="<%= category ? category.name : "" %>"
          type="text"
          id="name"
          name="name"
          required
          autofocus
          placeholder="e.g. Electronics"
        >
      </div>

      <div>
        <label for="description">Description</label>
        <textarea
          id="description"
          name="description"
          required
          placeholder="Short category description"
          rows="3"
        ><%= category ? category.description : "" %></textarea>
      </div>
      <button type="submit"><%= title %></button>
    </form>
  </body>
</html>
