<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title> <%= title %> </title>
</head>
<body>
  <h1> <%= title %> </h1>
  <%- include("./partials/nav.ejs") %>
  <a href="products/new">Create New Product</a>

  <form action="/products" method="GET">
    <h2>Search Product Names</h2>
    <input value="<%= searchInput %>" type="search" id="query" name="q" placeholder="Type your search...">
    <button type="submit">Search</button>
  </form>

  <form action="/products" method="GET">
    <h2>Sort Products</h2>

    <select name="sortColumn">
      <option value="id" <%= sortColumn === 'id' ? 'selected' : '' %>>ID</option>
      <option value="name" <%= sortColumn === 'name' ? 'selected' : '' %>>Name</option>
      <option value="description" <%= sortColumn === 'description' ? 'selected' : '' %>>Description</option>
      <option value="unit" <%= sortColumn === 'unit' ? 'selected' : '' %>>Unit</option>
      <option value="price" <%= sortColumn === 'price' ? 'selected' : '' %>>Price</option>
      <option value="category" <%= sortColumn === 'category' ? 'selected' : '' %>>Category</option>
      <option value="created_at" <%= sortColumn === 'created_at' ? 'selected' : '' %>>Created At</option>
      <option value="updated_at" <%= sortColumn === 'updated_at' ? 'selected' : '' %>>Last Updated At</option>
    </select>

    <select name="sortOrder">
      <option value="ASC" <%= sortOrder === 'ASC' ? 'selected' : '' %>>Ascending</option>
      <option value="DESC" <%= sortOrder === 'DESC' ? 'selected' : '' %>>Descending</option>
    </select>

    <select name="numberOfRows">
      <option value="5" <%= Number(numberOfRows) === 5 ? 'selected' : '' %>>5</option>
      <option value="20" <%= Number(numberOfRows) === 20 ? 'selected' : '' %>>20</option>
      <option value="50" <%= Number(numberOfRows) === 50 ? 'selected' : '' %>>50</option>
      <option value="100" <%= Number(numberOfRows) === 100 ? 'selected' : '' %>>100</option>
    </select>

    <button type="submit">Sort</button>
  </form>

  <table>
    <caption>Products</caption>
    <thead>
      <tr>
        <th>#</th>
        <th>Name</th>
        <th>Description</th>
        <th>Unit</th>
        <th>Price</th>
        <th>Category</th>
        <th>Created At</th>
        <th>Last Updated At</th>
      </tr>
    </thead>
    <tbody>
      <% if (products) { %>
        <% products.forEach(product => { %>
          <tr>
            <td> <%= product.id %> </td>
            <td> <%= product.name %> </td>
            <td> <%= product.description %> </td>
            <td> <%= product.unit %> </td>
            <td> <%= product.price %> </td>
            <td> <%= product.category %> </td>
            <td> <%= product.created_at %> </td>
            <td> <%= product.updated_at %> </td>
            <td>
              <form action="/products/<%= product.id %>/update" method="GET">
                <button type="submit">Update</button>     
              </form>
            </td>
            <td>
              <form action="/products/delete" method="POST">
                <input type="hidden" name="id" value="<%= product.id %>">
                <button type="submit">Delete</button>     
              </form>
            </td>
          </tr>
        <% }) %>
      <% } else { %>
        <tr><td colspan="8">No Products To Display</td></tr>
      <% } %>
    </tbody>
  </table>

</body>
</html>